<div class="container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <!--dealer-->

    <label>Dealer : </label>
    <select formControlName="dealer">
      <option *ngFor="let dealer of dealerList" [value]="dealer.Desp"
        >{{ dealer.Desp }}</option
      >
    </select>

    <div *ngFor="let control of controls">
      <!--manufacturer-->
      <div
        *ngIf="control.ControlType === 'InputBox' && control.ControlLabel === 'Manufacturer'"
      >
        <label>{{ control.ControlLabel }}</label>
        <input type="text" formControlName="manufacturer" />
        <div
          *ngIf="form.get('manufacturer')?.invalid && form.get('manufacturer')?.touched"
        >
          Manufacturer is required
        </div>
      </div>

      <!--Service Provider-->
      <div
        *ngIf="control.ControlType === 'InputBox' && control.ControlLabel === 'Service Provider'"
      >
        <label>{{ control.ControlLabel }}</label>
        <input type="text" formControlName="serviceProvider" />
      </div>

      <!--country-->
      <div
        *ngIf="control.ControlType === 'DropdownList' && control.ControlLabel === 'Country'"
      >
        <label>{{ control.ControlLabel }}</label>
        <select formControlName="country" (change)="onCountryChange($event)">
          <option
            *ngFor="let country of countries"
            [value]="country.CountryName"
            >{{ country.CountryName }}</option
          >
        </select>
      </div>
      <!--State-->
      <div
        *ngIf="control.ControlType === 'DropdownList' && control.ControlLabel === 'State'"
      >
        <label>{{ control.ControlLabel }}</label>
        <input
          type="text"
          (input)="filterStates($event)"
          placeholder="Search states"
        />
        <select formControlName="state">
          <option *ngFor="let state of filteredStates" [value]="state.StateName"
            >{{ state.StateName }}</option
          >
        </select>
      </div>
    </div>
    <!--submit-->
    <button type="submit">Submit</button>
  </form>
</div>
