<div class="container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <!--dealer-->
    <label>Dealer : </label>
    <mat-form-field>
      <input
        type="text"
        matInput
        placeholder="Search and select dealer"
        formControlName="dealer"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayDealer">
        <mat-option
          *ngFor="let dealer of filteredDealers | async"
          [value]="dealer.Desp"
        >
          {{ dealer.Desp }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <!--country-->
    <label>Country : </label>
    <mat-form-field>
      <input
        type="text"
        matInput
        placeholder="Search and select country"
        formControlName="country"
        [matAutocomplete]="autoCountry"
        (change)="onCountryChange($event)"
      />
      <mat-autocomplete
        #autoCountry="matAutocomplete"
        [displayWith]="displayCountry"
      >
        <mat-option
          *ngFor="let country of filteredCountries | async"
          [value]="country.CountryName"
        >
          {{ country.CountryName }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <!--State-->
    <div *ngFor="let control of controls">
      <div
        *ngIf="control.ControlType === 'DropdownList' && control.ControlLabel === 'State'"
      >
        <label>{{ control.ControlLabel }}</label>
        <mat-form-field>
          <input
            type="text"
            matInput
            placeholder="Search and select state"
            formControlName="state"
            [matAutocomplete]="autoState"
          />
          <mat-autocomplete
            #autoState="matAutocomplete"
            [displayWith]="displayState"
          >
            <mat-option
              *ngFor="let state of filteredStates | async"
              [value]="state.StateName"
            >
              {{ state.StateName }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
    </div>

    <!-- Manufacturer -->

    <mat-form-field appearance="fill">
      <mat-label>Manufacturer</mat-label>
      <input type="text" matInput formControlName="manufacturer" />
      <mat-error
        *ngIf="form.get('manufacturer')?.invalid && form.get('manufacturer')?.touched"
      >
        Manufacturer is required
      </mat-error>
    </mat-form-field>

    <!-- Service Provider -->
    <mat-form-field appearance="fill">
      <mat-label>Service Provider</mat-label>
      <input type="text" matInput formControlName="serviceProvider" />
    </mat-form-field>

    <!-- <button type="submit">Submit</button> -->
    <button mat-button (click)="onSubmit()">Submit</button>
  </form>
</div>
